.button {
    text-align: center;
    align-items: center;
    padding-left: 5%;
}

.button h3{
    font-size: 24px;
}

.button button{
    border: 1px solid blue;
}
 .button img {
    margin-top: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
    width: 97%;
    margin-left:0;
} 